{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Statistics</h2>
            <p>Visitors: {{ data.visitors }}</p>
            <p>Page Views: {{ data.page_views }}</p>
        </div>
        <div class="col-md-6">
            <h2>User Feedback</h2>
            <ul class="list-group">
                {% for feedback in data.user_feedback %}
                <li class="list-group-item">{{ feedback.date }}: {{
                    feedback.feedback }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}